.image{
    position: relative;
    width: 100%;
}

h2{
    position: absolute;
    top: 200px;
    left: 45px;
    width: 100%;
}

h2 span{
    color: white;
    font: bold 45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5px;
}

h2 span.spacer {
    padding:0 5px;
    background: rgba(0, 0, 0, 0.0);
}

#menu{
    width: 100%;
    font-size: 20px;
    font-family:bold Helvetica, Sans-Serif;
    text-align: right;
    background-color: #F0F0F0;
    
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline;
}

#menu a{
    text-decoration: none;
    color: gray;
    padding: 8px 8px 8px 8px;
}

.menu-column{
    background-color: #d3d3d3;
    float: left;
    width: 30%;
    margin: 0.5%;
   
}

.menu-column h5, h4{
    text-align: center;
}
